<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Home</title>
</head>
<body>
    <h1>Selamat datang di website latihan-login</h1>
    <div>
        <p>Silahkan <a href="/login">LOGIN</a> untuk masuk ke dalam halaman admin</p>
    </div>
</body>
</html>