<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Register</title>
</head>
<body>
    <h1>DAFTAR AKUN BARU</h1>
    <br>
    <div>
        <table>
            <form action="/register" method="post">
            <tr>
                <td>
                    <Label for="fullName">Nama lengkap</Label>
                </td>
                <td>
                    <input type="text" name="fullname" id="fullName">
                </td>
            </tr>
            <tr>
                <td>
                    <Label for="username">Username</Label>
                </td>
                <td>
                    <input type="text" name="username" id="username">
                </td>
            </tr>
            <tr>
                <td>
                    <Label for="password">Password</Label>
                </td>
                <td>
                    <input type="password" name="password" id="password">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Daftar</button>
                </td>
            </tr>
            </form>
        </table>
    </div>
</body>
</html>